<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <title>Distance Matrix Service</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet"  href="{% static 'css/map_style.css' %}" />
    <script src={% static 'js/map_index.js' %}></script>

</head>
<body>
<div id="header"><h1>Quazik</h1></div>

<div id="content">
    {% block content %}

    {% endblock %}
</div>

{% block maps %}

{% endblock %}
</body>
</html>