{% extends "tsp/base.html" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Посещение достопримечательностей</h2>
        </div>
    </div>

    <form action="/solve_tsp/" method="POST">
        {% csrf_token %}
        {% for i in cities %}
            <label>Станция метро {{ i|add:1 }}: </label>
            <input type="text" name="city_{{ i}}"><br>
        {% endfor %}
        <input type="submit" value="Найти маршрут">
    </form>

{#    <div id="container">#}
{#      <div id="map"></div>#}
{#      <div id="sidebar">#}
{#        <h3 style="flex-grow: 0">Request</h3>#}
{#        <pre style="flex-grow: 1" id="request"></pre>#}
{#        <h3 style="flex-grow: 0">Response</h3>#}
{#        <pre style="flex-grow: 1" id="response"></pre>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577336.7656928916!2d36.82510363473424!3d55.580747959998504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1635013990607!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>#}
{#    <script#}
{#      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrIZJojkLvVwjh8xiM8Pa-lu-rb8nt5NM&callback=initMap&v=weekly"#}
{#      async#}
{#    ></script>#}



{% endblock %}