{% extends "tsp/base.html" %}

{% load static %}

{% block head %}
    <script type="text/javascript">
    let markers = [];
    function initMap() {
      const moscow = { lat: 55.75, lng: 37.61 };

      let map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        center: moscow,
      });
        {% for marker in path %}
            addMarkerWithName({ lat: {{ marker.lat }}, lng: {{ marker.lng }} }, map, '{{ marker.name}}');
        {% endfor %}
        {% for step in steps %}
            displayRoute(
                {lat: {{ step.origin_lat }}, lng: {{ step.origin_lng }} },
                {lat: {{ step.destination_lat }}, lng: {{ step.destination_lng }} },
                map
            );
        {% endfor %}
    }
    function addMarkerWithName(location, map, name) {
      markers.push(new google.maps.Marker({
        position: location,
        label: name,
        map: map,
      }));
    }
    function displayRoute(origin_loc, destination_loc, map) {
        const service = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();
        directionsRenderer.setMap(map);
      service
        .route({
          origin: origin_loc,
          destination: destination_loc,
          travelMode: google.maps.TravelMode.DRIVING,
          avoidTolls: true,
        }).then((result) => {
          directionsRenderer.setDirections(result);
        })
        .catch((e) => {
          alert("Could not display directions due to: " + e);
        });
    }
    </script>


{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div id="title-tsp" class="panel-heading">
            <h2>Оптимальный путь</h2>
        </div>
    </div>
{% endblock %}

{% block maps %}
    <div id="container">
      <div id="map"></div>
    </div>

     <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrIZJojkLvVwjh8xiM8Pa-lu-rb8nt5NM&callback=initMap&libraries=&v=weekly"
      async
    ></script>

{% endblock %}