{% extends "tsp/base.html" %}

{% block content %}
    <div class="panel panel-default">
        <div id="title-tsp" class="panel-heading">
            <h2>Выберите места</h2>
            <input id="find-route" type="submit" value="Найти маршрут">
        </div>
    </div>
{#    {% include "tsp/choose_number_of_cities.html" %}#}
{% endblock %}

{% block maps %}
    <div id="container">
      <div id="map"></div>
    </div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrIZJojkLvVwjh8xiM8Pa-lu-rb8nt5NM&callback=initMap&libraries=&v=weekly"
      async
    ></script>
{% endblock %}